/* Fonts applied */

@font-face {
  font-family: "Karla-Light";
  src: url("./fonts/Karla-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Karla-Regular";
  src: url("./fonts/Karla-Regular.ttf");
}

@font-face {
  font-family: "Karla-Bold";
  src: url("./fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: "Karla-SemiBold";
  src: url("./fonts/Karla-SemiBold.ttf");
}

@font-face {
  font-family: "Karla-ExtraLight";
  src: url("./fonts/Karla-ExtraLight.ttf");
}

/* Mobile devices */

* {
  box-sizing: border-box;
}

body {
  background-color: #e5eff5;
  font-family: "Karla-Regular";
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: 17rem 15rem 15rem 2.5rem;
  position: absolute;
  left: 50%;
  top: 25rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.join {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: 5px 10px 10px #ccd9eb;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 2rem 1.6rem 0;
}

.gray {
  color: #98a6bd;
  line-height: 1.5rem;
  text-align: justify;
}

.b-yellow {
  color: #C0DF34;
  font-family: "Karla-Bold";
}

h1 {
  color: #4abebd;
  font-size: 1.3rem;
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
}

.subscription {
  background-color: #2AB2AF;
  border-radius: 0;
  box-shadow: 0 10px 10px #ccd9eb;
  color: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 0.7rem 1.875rem 0 1.6rem;
}

button {
  background-color: #C0DF34;
  box-shadow: 5px 5px 10px #26a19f;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: "Karla-Regular";
  font-size: 1.1rem;
  height: 3.125rem;
  margin-top: 0.9375rem;
  width: 100%;
}

.why {
  background-color: #4abebd;
  border-radius: 0 0 10px 10px;
  box-shadow: 5px 10px 10px #ccd9eb;
  color: white;
  font-family: "Karla-Light";
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  padding: 0.5rem 1rem 0 1.6rem;
}

.twenty-nine {
  font-size: 2rem;
  font-family: "Karla-SemiBold";
}

.per-month {
  color: #E5EFF5;
  font-family: "Karla-ExtraLight";
  margin-left: 0.625rem;
}

.why p {
  color: #E5EFF5;
  font-family: "Karla-Light";
  font-size: 0.813rem;
  line-height: 1.25rem;
}

.attribution {
  grid-row: 4 / 5;
  text-align: center;
}

.attribution a {
  color: #3E52A3;
  text-decoration: none;
}

.attribution a:hover {
  font-weight: bold;
}

/* Desktop devices */

@media only screen and (min-width: 700px) {
 .grid-container {
	  grid-template-columns: 19.375rem 19.375rem;
	  grid-template-rows: 11.875rem 16.5625rem 2.3rem;
    top: 20rem;
	}

  .join {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    padding: 1.875rem 2.5rem 0 2.5rem;
  }

  .gray {
    line-height: 1.5rem;
  }

  .subscription {
    border-radius: 0 0 0 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1.25rem 2.2rem 1.875rem 2.2rem;
  }

  button:hover {
    background-color: #afcc2f;
  }

  .why {
    border-radius: 0 0 10px 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 1.25rem 1.25rem 1.875rem 3.125rem;
  }

  .attribution {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
}
